---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=123%20Main%20St.&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "123",
                       "short_name" : "123",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Main Street",
                       "short_name" : "Main St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Little Mountain",
                       "short_name" : "Little Mountain",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Newberry County",
                       "short_name" : "Newberry County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "South Carolina",
                       "short_name" : "SC",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "29075",
                       "short_name" : "29075",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "123 Main Street, Little Mountain, SC 29075, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 34.1987161,
                          "lng" : -81.4061294
                       },
                       "southwest" : {
                          "lat" : 34.1987022,
                          "lng" : -81.406137
                       }
                    },
                    "location" : {
                       "lat" : 34.1987161,
                       "lng" : -81.406137
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 34.2000581302915,
                          "lng" : -81.40478421970849
                       },
                       "southwest" : {
                          "lat" : 34.1973601697085,
                          "lng" : -81.40748218029151
                       }
                    }
                 },
                 "types" : [ "street_address" ]
              },
              {
                 "address_component[...]
