---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=2400%20Central%20Ave&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2400",
                       "short_name" : "2400",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Central Avenue",
                       "short_name" : "Central Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Albany",
                       "short_name" : "Albany",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" [...]
[...]
