---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=10500%20Copper%20Ave%20NE&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "10500",
                       "short_name" : "10500",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Brown Mackie College - Albuquerque",
                       "short_name" : "Brown Mackie College - Albuquerque",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "Copper Avenue",
                       "short_name" : "Copper Ave",
                       "types" : [ "route" ]
                    },
           [...]
